-- Create POD data table if it doesn't exist
CREATE TABLE IF NOT EXISTS pod_data (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    project_id UUID NOT NULL REFERENCES projects(id) ON DELETE CASCADE,
    scale_list JSONB DEFAULT '[]',
    reference_image_url TEXT,
    reference_comment TEXT,
    design_image_url TEXT,
    design_comment TEXT,
    final_images JSONB DEFAULT '[]',
    final_comments JSONB DEFAULT '[]',
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(project_id)
);

-- Create index for faster queries
CREATE INDEX IF NOT EXISTS idx_pod_data_project_id ON pod_data(project_id);

-- Enable Row Level Security (RLS)
ALTER TABLE pod_data ENABLE ROW LEVEL SECURITY;

-- Drop existing policies if they exist (to avoid conflicts)
DROP POLICY IF EXISTS "Users can view POD data for projects they are members of" ON pod_data;
DROP POLICY IF EXISTS "Users can insert POD data for projects they are members of" ON pod_data;
DROP POLICY IF EXISTS "Users can update POD data for projects they are members of" ON pod_data;
DROP POLICY IF EXISTS "Users can delete POD data for projects they are members of" ON pod_data;

-- Create RLS policies
CREATE POLICY "Users can view POD data for projects they are members of" ON pod_data
    FOR SELECT USING (
        EXISTS (
            SELECT 1 FROM project_members 
            WHERE project_members.project_id = pod_data.project_id 
            AND project_members.user_id = auth.uid()
        )
    );

CREATE POLICY "Users can insert POD data for projects they are members of" ON pod_data
    FOR INSERT WITH CHECK (
        EXISTS (
            SELECT 1 FROM project_members 
            WHERE project_members.project_id = pod_data.project_id 
            AND project_members.user_id = auth.uid()
        )
    );

CREATE POLICY "Users can update POD data for projects they are members of" ON pod_data
    FOR UPDATE USING (
        EXISTS (
            SELECT 1 FROM project_members 
            WHERE project_members.project_id = pod_data.project_id 
            AND project_members.user_id = auth.uid()
        )
    );

CREATE POLICY "Users can delete POD data for projects they are members of" ON pod_data
    FOR DELETE USING (
        EXISTS (
            SELECT 1 FROM project_members 
            WHERE project_members.project_id = pod_data.project_id 
            AND project_members.user_id = auth.uid()
        )
    );
